<h1>Editar Item de Estudo</h1>
<%= render partial: 'form', locals: {study_item: @study_item}%>

<!--  foi para o partial : _forms.html.erb
<%= form_with(model: @study_item) do |f| %>
    <div>
        <%= f.label :title, 'Título' %>
        <%= f.text_field :title, required: "required" %>
    </div>
    <div>
        <%= f.label :category, 'Categoria' %>
        <%= f.text_field :category %>
    </div>
    <div>
        <%= f.label :done, 'Sim' %>
        <%= f.radio_button :done, 'true' %>
        <%= f.label :done, 'Não' %>
        <%= f.radio_button :done, 'false' %>
    </div>

    <%= f.submit %>
<% end %>

-->
